{{ 'active-img.css' | asset_url | stylesheet_tag }}

<div class="active-img">
  <product-inventory class="page-width" y-range="-5,5" x-range="-5,5">
    <picture>
      <source media="(min-width: 901px)" data-srcset="{{ section.settings.pc_image | img_url: 'master' }}">
      <source media="(max-width: 900px)" data-srcset="{{ section.settings.mb_image | img_url: 'master' }}">
      <img
        alt="petsnowy"
        decoding="async"
        loading="lazy"
      >
    </picture>
    <a class="btn" href="{{ section.settings.btn_link }}">
      <span>{{ section.settings.btn_text }}</span>
    </a>
  </product-inventory>
</div>

{% schema %}
{
  "name": "active-img",
  "settings": [
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "pc image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "mb image"
    },
    {
      "type": "text",
      "id": "btn_link",
      "label": "btn link"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "btn text"
    }
  ],
  "presets": [
    {
      "name": "active-img"
    }
  ]
}
{% endschema %}
