{{ 'choose-features.css' | asset_url | stylesheet_tag }}
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{% comment %}
  {%- assign pageUrlWithoutHost = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' | replace:'www.petsnowy.com/cart?customcart=',''-%}
  {%- assign pageUrlWithoutHost = contentForQuerystring | split: '"pageurl":"' | last | split: '"' | first | split: '.myshopify.com' | last | split: '/cart?customcart=' | last-%}
{% endcomment %}

{% comment %}
  {%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}
  {% assign handle = pageUrl|split:'=' %}
  {% assign mainProduct  = handle[1] %}
  {%- assign main_product = all_products[mainProduct] -%}
{% endcomment %}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

{%- assign main_collection = collections[section.settings.collection_list] -%}
<div
  class="custom_product_data page-width"
  id="custom_product_data"
  data-carthandle="{{ mainProduct}}"
  cart-url="cart?customcart="
>
  <div class="product_details_show">
    {% comment %}mian_image_div{% endcomment %}
    <div class="product_details_image">
      <div class="logo_show">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo_index != blank -%}
            {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
            {{
              section.settings.logo_index
              | image_url: width: section.settings.width
              | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
            }}
          {%- else -%}
            <span class="h2">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>
      <div class="prod_cus_images">
        {%- for main_product_detail in main_collection.products -%}
          <div
            class="main_full_img main_prodcut_contain"
            data-id="{{ main_product_detail.id }}"
            data-handle="{{ main_product_detail.handle }}"
            style="display:none;"
          >
            {% if main_product_detail.featured_image != blank %}
              <img
                decoding="async"
                src="{{ main_product_detail.featured_image | img_url: 'master' }}"
                alt="petsnowy"
                loading="lazy"
              >
            {% endif %}
          </div>
        {% endfor %}

        <div class="listed_main_data">
          <ul class="listed_ul">
            <li class="lead-time">
              <div class="policy_list">
                <div>{% render 'policy-icon' %}</div>
                {% if section.settings.icon_text_1 != blank %}
                  <span>{{ section.settings.icon_text_1 }}</span>
                {% endif %}
              </div>
            </li>
            <li class="returns">
              <div class="policy_list">
                <div>{% render 'return-icon' %}</div>
                {% if section.settings.icon_text_2 != blank %}
                  <span>{{ section.settings.icon_text_2 }}</span>
                {% endif %}
              </div>
            </li>
            <li class="warranty">
              <div class="policy_list">
                <div>{% render 'warranty-icon' %}</div>
                {% if section.settings.icon_text_3 != blank %}
                  <span>{{ section.settings.icon_text_3 }}</span>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% comment %}end_mian_image_div{% endcomment %}

    {% comment %}main_right_sidebar{% endcomment %}
    <div class="product_details_data">
      <div class="tab_buttons">
        <button id="itg_tabs_links" class="tablinks active" data-tab="first_step">{{ section.settings.tab_1 }}</button>
        <button id="itg_tabs_links" class="tablinks" data-tab="second_step">{{ section.settings.tab_2 }}</button>
        {% comment %}
          <button class="tablinks" data-tab="third_step">{{ section.settings.tab_3 }}</button>
        {% endcomment %}

        <button id="itg_tabs_links" class="tablinks" data-tab="fourth_step">{{ section.settings.tab_4 }}</button>
      </div>

      <div class="tab_button_contents">
        <div id="tab1" class="tabcontent tabcontent_first" data-content="first_step">
          <h3 class="choose_configure_product">{{ section.settings.configure_head }}</h3>
          {% if section.settings.text_tb_1 != blank %}
            <div class="tabs_extradata">{{ section.settings.text_tb_1 }}</div>
          {% endif %}

          <div class="chs_align_div">
            {% for main_product_detail in main_collection.products %}
              <h2 class="main_prodcut_contain" data-handle="{{ main_product_detail.handle }}" style="display:none;">
                {{ main_product_detail.title }}
              </h2>
            {% endfor %}
            <button id="btn_change_product" class="btn_change_product">Change</button>
          </div>
          <div class="change_selected_product">
            <ul>
              {% for product_change in main_collection.products %}
                {% assign variantid = '' %}
                {% assign variantprice = '' %}
                {% for variant_change in product_change.variants %}
                  {% assign variantid = product_change.selected_or_first_available_variant.id %}
                  {% assign variantprice = variant_change.price %}
                {% endfor %}
                {% if variantid == 44760100503874 %}
                  {% continue %}
                {% endif %}
                <li class="replace_products_li" replace_data="{{ product_change.handle }}" value="{{ variantid }}">
                  <div class="replace_product_main">
                    <input
                      class="replace_input"
                      type="checkbox"
                      id="{{ product_change.handle }}"
                      value="{{ variantid }}"
                      data-replaceprice="{{ variantprice | money }}"
                    >

                    <label
                      class="{% unless product_change.has_only_default_variant %}hide_change_mainproduct {% endunless %} productlabel_info main_product_label"
                      data-chnage="{{ product_change.handle }}"
                      for="?customcart={{ product_change.handle }}"
                    >
                      <div class="add_list_product_image">
                        <img
                          src="{{  product_change.featured_image | img_url: '100X100' }}"
                          alt="petsnowy"
                          loading="lazy"
                        >
                      </div>

                      <div class="add_list_product_data">
                        <div class="price_title_align">
                          <h3>{{ product_change.title }}</h3>
                          <div class="replace_product_pricealign">
                            {% if product_change.compare_at_price_min == 000 %}
                              <span class="replace_product_pricecompare">
                                {{- product_change.compare_at_price_min | money -}}
                              </span>
                            {% endif %}
                            <span>{{ variantprice | money }}</span>
                          </div>
                        </div>
                        <div class="add_descriptions">
                          {{ product_change.metafields.custom.product_description.value }}
                        </div>
                      </div>

                      <div class="check_product_addons">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="#231f20"
                          stroke-width="2.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-check"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </div>
                    </label>

                    <!-- Changed Product Related variants -->
                    {% if product_change.has_only_default_variant %}
                    {% else %}
                      <div class="product_related_variant_list">
                        {% for variant in product_change.variants %}
                          {% assign changedvarimg = variant.image | img_url: 'master' %}
                          {% assign changedvarprice = variant.price %}
                          {% if variant.compare_at_price > variant.price %}
                            {% assign changedcompareprice = variant.compare_at_price %}
                          {% endif %}
                          {% assign changedvarid = variant.id %}
                          {% assign Changedtitle = variant.title %}
                          <label
                            class="itg_variant_labledata main_productvaraint_label"
                            variant-main-title="{{ Changedtitle | handleize }}"
                            variant-main-id="{{ changedvarid }}"
                            for="?customcart={{ product_change.handle }}"
                            variant-main-compareprice="{{ changedcompareprice | money_without_currency }}"
                            variant-main-price="{{ changedvarprice | money_without_currency }}"
                            variant-main-image="{{ changedvarimg }}"
                            variant-main-lablename="{{ Changedtitle }}"
                          >
                            <div class="changed_pro_variantlist">
                              <div class="change_variant_img">
                                {% if changedvarimg != blank %}
                                  <img decoding="async" src="{{ changedvarimg }}" alt="petsnowy" loading="lazy">
                                {% endif %}
                              </div>
                              <div class="change_variant_datatext">
                                <div class="change_variant_datatext_price">
                                  <h3>{{ Changedtitle }}</h3>
                                  <div class="changed_variant_price_align">
                                    <span class="changed_variant_price_compare">{{ changedcompareprice | money }}</span>
                                    <span class="changed_variant_price_main">{{ changedvarprice | money }}</span>
                                  </div>
                                </div>
                                <p>{{ variant.metafields.custom.variant_description }}</p>
                              </div>
                            </div>
                            <div class="check_product_variant">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#231f20"
                                stroke-width="2.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-check"
                              >
                                <polyline points="20 6 9 17 4 12"></polyline>
                              </svg>
                            </div>
                          </label>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <!-- Changed Product Related variants -->
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% for main_product_detail in main_collection.products %}
            <div
              class="variant_data_loop main_prodcut_contain"
              data-handle="{{ main_product_detail.handle }}"
              style="display:none;"
            >
              {% if main_product_detail.has_only_default_variant %}
                <span
                  id="first_product"
                  data-first="{{ main_product_detail.selected_or_first_available_variant.id }}"
                ></span>
              {% else %}
                <div class="itg_drop_var">
                  {% for variant in main_product_detail.variants %}
                    {% assign varimg = variant.image | img_url: 'master' %}
                    {% assign varprice = variant.price | money_without_currency %}
                    {% assign varid = variant.id %}
                    {% assign variantdescription = variant.metafields.custom.variant_description %}
                    {% if variant.compare_at_price > variant.price %}
                      {% assign compareprice = variant.compare_at_price | money_without_currency %}
                    {% endif %}
                    {% assign inventory_quantity = variant.inventory_quantity %}

                    <div class="itg_drop_var_align_div">
                      <input
                        type="radio"
                        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="radio"
                        data-value="{{ value | handleize }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if forloop.index0 == 0 %}
                          checked
                        {% endif %}
                      >

                      <label
                        for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        data_var_price="{{ varprice }}"
                        main-id="{{ varid }}"
                        main-compare="{{ compareprice }}"
                      >
                        <div class="itg_drop_var_align_img">
                          {% if varimg != blank %}
                            <img decoding="async" src="{{ varimg }}" alt="petsnowy" loading="lazy">
                          {% else %}
                            <p>{{ value }}</p>
                          {% endif %}
                        </div>
                        <div class="itg_drop_var_align_content">
                          <p>
                            {{ variantdescription }}
                            {% if varid == 47336754151746 %}
                              <br>
                              <span class="remaining">Gift stock remaining: {{ inventory_quantity -}}</span>
                            {%- endif %}
                          </p>
                        </div>

                        <div class="check_product_variant">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#231f20"
                            stroke-width="2.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-check"
                          >
                            <polyline points="20 6 9 17 4 12"></polyline>
                          </svg>
                        </div>
                      </label>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div id="tab2" class="tabcontent tabcontent_second" data-content="second_step">
          {% if section.settings.text_tb_2 != blank %}
            <div class="tabs_extradata">{{ section.settings.text_tb_2 }}</div>
          {% endif %}
          <div class="addons_productlist first_addons">
            {% for main_product_detail in main_collection.products %}
              {%- assign product_list = main_product_detail.metafields.custom.addons_product.value -%}

              <div
                class="main_addons_product main_prodcut_contain"
                data-handle="{{ main_product_detail.handle }}"
                style="display:none;"
              >
                {% for product_addons in product_list %}
                  {% assign inc_value = product_addons.first_available_variant.price %}
                  {% assign product_price = product_addons.first_available_variant.price %}
                  {% assign final_inc = inc_value | minus: product_price %}

                  {% assign price = product_addons.price %}
                  {% if product_addons.compare_at_price > product_addons.price %}
                    {% assign price = product_addons.compare_at_price %}
                  {% endif %}

                  <div class="add_list_product first_addons_qty">
                    <input
                      class="addons_input"
                      type="checkbox"
                      id="{{ product_addons.title }}"
                      value="{{ product_addons.first_available_variant.id }}"
                      data-addonprice="{{ product_addons.first_available_variant.price | money_without_currency | remove: '-' }}"
                      data-price_without_discount="{{ price |  money_without_currency}}"
                    >
                    <label
                      class="productlabel_info"
                      for="{{ product_addons.title }}"
                    >
                      <div class="add_list_product_image">
                        <img
                          src="{{  product_addons.featured_image | img_url: '100X100' }}"
                          alt="petsnowy"
                          loading="lazy"
                        >
                      </div>

                      <div class="add_list_product_data">
                        <div class="price_title_align">
                          <h3>{{ product_addons.title }}</h3>
                          <div class="price_wrapper">
                            <span class="price_without_discount">
                              {{- product_addons.compare_at_price | money -}}
                            </span>
                            <span class="price_with_discount">
                              {{- product_addons.first_available_variant.price | money -}}
                            </span>
                          </div>
                        </div>
                        <div class="add_descriptions">
                          {{ product_addons.metafields.custom.product_description.value }}
                        </div>
                        <div class="quantity_addons">
                          <label class="form__label" for="Quantity-{{ section.id }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          <quantity-input class="quantity">
                            <button class="quantity__button qty_itg no-js-hidden" name="minus" type="button">
                              {% render 'icon-minus' %}
                            </button>
                            <input
                              class="quantity__input"
                              type="number"
                              name="quantity"
                              id="Quantity-{{ section.id }}"
                              min="1"
                              value="1"
                              qty-price="{{ final_inc | money_without_currency | remove: '-'  }}"
                              form="{{ product_form_id }}"
                              readonly
                            >
                            <button class="quantity__button qty_itg no-js-hidden" name="plus" type="button">
                              {% render 'icon-plus' %}
                            </button>
                          </quantity-input>
                        </div>
                      </div>

                      <div class="check_product_addons">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="#231f20"
                          stroke-width="2.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-check"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </div>
                    </label>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>

        <div id="tab3" class="tabcontent tabcontent_third" data-content="third_step">
          {% for main_product_detail in main_collection.products %}
            {% if main_product_detail.metafields.custom.insurance_product.value != blank %}
              <div
                class="tabs_extradata main_prodcut_contain"
                data-handle="{{ main_product_detail.handle }}"
                style="display:none;"
              >
                {{ section.settings.text_tb_3 }}
              </div>
            {% endif %}

            <div
              class="insurance_product insurance_product_first main_prodcut_contain"
              data-handle="{{ main_product_detail.handle }}"
              style="display:none;"
            >
              {% if main_product_detail.metafields.custom.insurance_product.value != blank %}
                {%- assign collection_insurance_coll = main_product_detail.metafields.custom.insurance_product.value -%}
                <ul>
                  {% for product_insurance in collection_insurance_coll %}
                    <li
                      class="insurance_product_li"
                      replace_data="{{ product_insurance.handle }}"
                      value="{{ product_insurance.first_available_variant.id }}"
                    >
                      <div class="insurance_product_main">
                        <input
                          class="insurance_product_input"
                          type="checkbox"
                          id="{{ product_insurance.handle }}"
                          value="{{ product_insurance.first_available_variant.id }}"
                          data-replaceprice="{{ product_insurance.first_available_variant.price | money_without_currency }}"
                        >
                        <label class="productlabel_info" for="{{ product_insurance.handle }}">
                          <div class="add_list_product_image">
                            <img
                              src="{{  product_insurance.featured_image | img_url: '100X100' }}"
                              alt="petsnowy"
                              loading="lazy"
                            >
                          </div>
                          <div class="add_list_product_data">
                            <div class="price_title_align">
                              <h3>{{ product_insurance.title }}</h3>
                              <span>{{ product_insurance.first_available_variant.price | money }}</span>
                            </div>
                            {{ product_insurance.description }}
                          </div>
                          <div class="check_product_addons">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="#231f20"
                              stroke-width="2.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-check"
                            >
                              <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                          </div>
                        </label>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div id="tab4" class="tabcontent tabcontent_fourth" data-content="fourth_step">
          {% if section.settings.text_tb_4 != blank %}
            <div class="tabs_extradata">{{ section.settings.text_tb_4 }}</div>
          {% endif %}

          <div class="main_product_summary">
            <div class="summary_list_products">
              <h3>Product</h3>
              <a href="javascript:void(0);" id="edit_step-nav-trigger" class="step-nav-trigger">Edit configuration</a>
            </div>

            <ul>
              {% for main_product_detail in main_collection.products %}
                {% assign variantid = main_product_detail.variants.first.id %}
                {% assign variantprice = main_product_detail.first_available_variant.price %}
                {% assign variantprice_comapre = main_product_detail.first_available_variant.compare_at_price %}

                <li class="replace_products_li" replace_data="{{ main_product_detail.handle }}" value="{{ variantid }}">
                  <div class="replace_product_main">
                    <input
                      class="replace_input"
                      type="checkbox"
                      id="{{ main_product_detail.handle }}"
                      value="{{ variantid }}"
                      data-replaceprice="{{ variantprice | money }}"
                    >

                    <div class="productlabel_info" for="{{ main_product_detail.handle }}">
                      <div class="add_list_product_data">
                        <div class="price_title_align">
                          <h3>{{ main_product_detail.title }}</h3>

                          <button
                            type="button"
                            id="main_product_remove"
                            remove-handle="{{ main_product_detail.handle }}"
                            class="bin_icon"
                            data-del="{{ variantid }}"
                          >
                            {% render 'icon-remove' %}
                          </button>

                          <div class="quantity_main_product_summary">
                            <quantity-input class="quantity">
                              <button class="quantity__button qty_itg no-js-hidden" name="minus" type="button">
                                {% render 'icon-minus' %}
                              </button>
                              <input
                                class="quantity__input"
                                type="number"
                                name="quantity"
                                min="1"
                                value="1"
                                form="{{ product_form_id }}"
                                readonly
                              >
                              <button class="quantity__button qty_itg no-js-hidden" name="plus" type="button">
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                          </div>

                          <div class="main_price_compare_arrange">
                            {% if variantprice_comapre %}
                              <span
                                class="price_without_discount"
                                ><span
                                  >$
                                  {{- variantprice_comapre | money_without_currency -}}
                                </span></span
                              >
                            {% endif %}

                            <span class="price_with_discount">
                              <span>{{- variantprice | money -}}</span></span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% for main_product_detail in main_collection.products %}
            <ul
              class="summary_productlist second_addons main_prodcut_contain"
              data-handle="{{ main_product_detail.handle }}"
              style="display:none;"
            >
              <h3>{{ section.settings.summary_addonstitle }}</h3>
              {%- assign product_list = main_product_detail.metafields.custom.addons_product.value -%}
              {% for product_addons in product_list %}
                <li class="add_list_product second_addons_qty">
                  <div
                    class="summarylist_product_data"
                    data-finlid="{{ product_addons.first_available_variant.id }}"
                    data-finalqty="1"
                  >
                    <div class="summary_title_align">
                      <h3>{{ product_addons.title }}</h3>

                      <button type="button" class="bin_icon" data-del="{{ product_addons.first_available_variant.id }}">
                        {% render 'icon-remove' %}
                      </button>

                      <div class="quantity_addons_summary">
                        <label class="form__label" for="Quantity-{{ section.id }}">
                          {{ 'products.product.quantity.label' | t }}
                        </label>
                        <quantity-input class="quantity">
                          <button class="quantity__button qty_itg no-js-hidden" name="minus" type="button">
                            {% render 'icon-minus' %}
                          </button>
                          <input
                            class="quantity__input"
                            type="number"
                            name="quantity"
                            id="Quantity-{{ section.id }}"
                            min="1"
                            value="1"
                            form="{{ product_form_id }}"
                          >
                          <button class="quantity__button qty_itg no-js-hidden" name="plus" type="button">
                            {% render 'icon-plus' %}
                          </button>
                        </quantity-input>
                      </div>

                      {% assign inc_value = product_addons.first_available_variant.price
                        | times: 20
                        | divided_by: 100
                      %}
                      {% assign product_price = product_addons.first_available_variant.price %}
                      {% assign final_inc = inc_value | minus: product_price %}
                      <div class="second_adones_price" style="display:none;">
                        {{ final_inc | money_without_currency | remove: '-' }}
                      </div>
                      <div class="main_price_compare_arrange">
                        <span class="cart_add_spanprice price_without_discount">
                          <span class="summary_price" data-summary="">
                            {{- product_addons.first_available_variant.price | money -}}
                          </span>
                        </span>
                        <span class="price_with_discount">{{ final_inc | money | remove: '-' }}</span>
                      </div>
                    </div>
                  </div>

                  <div class="check_product_addons">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="#231f20"
                      stroke-width="2.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-check"
                    >
                      <polyline points="20 6 9 17 4 12"></polyline>
                    </svg>
                  </div>
                </li>
              {% endfor %}
            </ul>
          {% endfor %}

          {% for main_product_detail in main_collection.products %}
            <div
              class="insurance_product insurance_product_second main_prodcut_contain"
              data-handle="{{ main_product_detail.handle }}"
              style="display:none;"
            >
              {%- assign collection_insurance_coll = main_product_detail.metafields.custom.insurance_product.value -%}
              {% if main_product_detail.metafields.custom.insurance_product.value != blank %}
                <h3>{{ section.settings.summary_warrantytitle }}</h3>
              {% endif %}
              <ul>
                {%- for product_insurance in collection_insurance_coll -%}
                  <li
                    class="insurance_product_li"
                    replace_data="{{ product_insurance.handle }}"
                    value="{{ product_insurance.first_available_variant.id }}"
                  >
                    <div class="insurance_product_main">
                      <div class="price_title_align">
                        <h3>{{ product_insurance.title }}</h3>
                        <button
                          type="button"
                          class="service_remove_items"
                          data-del="{{ product_insurance.first_available_variant.id }}"
                        >
                          {% render 'icon-remove' %}
                        </button>
                        <span>{{ product_insurance.first_available_variant.price | money }}</span>
                      </div>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>

      <footer id="subtotal" data-subtotal-standalone="0">
        <div class="total_prices">
          <h3 class="h6">Total</h3>
          <div class="amount">
            {% for main_product_detail in main_collection.products %}
              <strong
                class="total-price main_prodcut_contain"
                data-handle="{{ main_product_detail.handle }}"
                style="display:none;"
              >
                {% assign originalCost = main_product_detail.price %}
                {% assign varmainprice = main_product_detail.compare_at_price | money %}
                <span
                  class="total_price_add"
                  data-addon="{{ varmainprice | money_without_currency }}"
                  data_price="{{ varmainprice | money_without_currency }}"
                  data-originalCost="{{ originalCost }}"
                >
                  {{- originalCost | money -}}
                </span>
                {% comment %}
                  <span
                    class="total_original_cost"
                    data-addon="{{ varmainprice | money_without_currency }}"
                    data_price="{{ varmainprice | money_without_currency }}"
                    data-originalCost="{{ originalCost }}"
                  >
                    {{ 0.00 | money -}}
                  </span>
                {% endcomment %}
              </strong>
            {% endfor %}
          </div>
        </div>
        <div class="action_buttons">
          {% if section.settings.delivery_terms != blank %}
            <span class="delivery_terms">{{ section.settings.delivery_terms }}</span>
          {% endif %}

          <ul class="addons_pagination previous_pagination_addons">
            <li class="next prv_step_second" data-tab="prv_step_second" data-step="second_step" style="display:none;">
              {% render 'icon-arrow' %} Previous step
            </li>
            <li class="next prv_step_fourth" data-tab="prv_step_fourth" data-step="fourth_step" style="display:none;">
              {% render 'icon-arrow' %} Previous step
            </li>
          </ul>

          <ul class="addons_pagination next_pagination_addons">
            <li class="next first_step" data-tab="first_step">Next step {% render 'icon-arrow' %}</li>
            <li class="next second_step" data-tab="second_step" style="display:none;">
              Next step {% render 'icon-arrow' %}
            </li>

            {% comment %}
              <li class="next third_step" data-tab="third_step" style="display:none;">Next step {% render 'icon-arrow' %}</li>
            {% endcomment %}
            <li id="final_order" class="next_four fourth_step" data-tab="fourth_step" style="display:none;">
              <span class="final_order_texts"> Order now {% render 'icon-arrow' %}</span>
              <span class="final_order_loader">{% render 'loader' %}</span>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    {% comment %}end_main_right_sidebar{% endcomment %}
  </div>
</div>

<script>
  $(document).ready(function () {
    $(document).on('click', '.next_four.fourth_step', function () {
      $(document).find('span.final_order_loader').show();
      $(document).find('span.final_order_texts').hide();
    });
  });
</script>
{% schema %}
{
  "name": "Choose Features Product",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_index",
      "label": "Logo Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "text",
      "id": "tab_1",
      "label": "Tab First"
    },
    {
      "type": "text",
      "id": "configure_head",
      "label": "Choose Product heading"
    },
    {
      "type": "collection",
      "id": "collection_list",
      "label": "Choose Collection list"
    },
    {
      "type": "textarea",
      "id": "text_tb_1",
      "label": "Tab Content"
    },
    {
      "type": "text",
      "id": "tab_2",
      "label": "Tab Second"
    },
    {
      "type": "textarea",
      "id": "text_tb_2",
      "label": "Tab Content"
    },
    {
      "type": "text",
      "id": "tab_3",
      "label": "Tab Third"
    },
    {
      "type": "textarea",
      "id": "text_tb_3",
      "label": "Tab Content"
    },
    {
      "type": "collection",
      "id": "collection_insurance",
      "label": "Insurance list"
    },
    {
      "type": "text",
      "id": "tab_4",
      "label": "Tab Fourth"
    },
    {
      "type": "textarea",
      "id": "text_tb_4",
      "label": "Tab Content"
    },
    {
      "type": "header",
      "content": "Icons Text"
    },
    {
      "type": "text",
      "id": "icon_text_1",
      "label": "Text 1"
    },
    {
      "type": "text",
      "id": "icon_text_2",
      "label": "Text 2"
    },
    {
      "type": "text",
      "id": "icon_text_3",
      "label": " Text 3"
    },
    {
      "type": "text",
      "id": "summary_addonstitle",
      "label": "Summary Add-ons Title"
    },
    {
      "type": "text",
      "id": "summary_warrantytitle",
      "label": "Summary Warranty Title"
    },
    {
      "type": "text",
      "id": "delivery_terms",
      "label": "Delivery Condition"
    }
  ],
  "presets": [
    {
      "name": "Choose Features Product"
    }
  ]
}
{% endschema %}
