{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="itg_image_text">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="itg_image_textmain">
      <div class="itg_image_textdata">
        {% for block in section.blocks %}
          <div class="list_data_text">
            <h3 data-aos="fade-up" data-aos-duration="800">{{ block.settings.title }}</h3>
            <div data-aos="fade-up" data-aos-duration="800">{{ block.settings.texts }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="itg_image_textimage">
        {% if section.settings.img != blank or section.settings.mobimg != blank %}
          <img
            class="ctm_desktop_images"
            src="{{ section.settings.img | img_url: 'master' }}"
            alt="petsnowy"
            loading="lazy"
          >
          {% if section.settings.mobimg != blank %}
            <img
              class="ctm_mobile_images"
              src="{{ section.settings.mobimg | img_url: 'master' }}"
              alt="petsnowy"
              loading="lazy"
            >
          {% else %}
            <img
              class="ctm_mobile_images"
              src="{{ section.settings.img | img_url: 'master' }}"
              alt="petsnowy"
              loading="lazy"
            >
          {% endif %}
          <div class="textimage_text">
            <h2 data-aos="fade-up" data-aos-duration="800">{{ section.settings.heading }}</h2>
            <div data-aos="fade-up" data-aos-duration="800">{{ section.settings.richtext }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image Text Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobimg",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Image Text Section",
      "type": "title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "List Title"
        },
        {
          "type": "richtext",
          "id": "texts",
          "label": "List Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
