{{ 'index-honor.css' | asset_url | stylesheet_tag }}

<div class="new-index-honor">
  <div class="page-width">
    <div class="honor-inner">
      <picture>
        <source media="(min-width: 901px)" data-srcset="{{ blocks.settings.pc_inner | img_url: 'master' }}">
        <source media="(max-width: 900px)" data-srcset="{{ blocks.settings.mb_inner | img_url: 'master' }}">
        <img
          alt="petsnowy"
          decoding="async"
          loading="lazy"
        >
      </picture>
      <picture class="honor-content">
        <source media="(min-width: 901px)" data-srcset="{{ blocks.settings.pc_content | img_url: 'master' }}">
        <source media="(max-width: 900px)" data-srcset="{{ blocks.settings.mb_content | img_url: 'master' }}">
        <img
          alt="petsnowy"
          decoding="async"
          loading="lazy"
        >
      </picture>
    </div>
    <div class="honor-options">
      {% for blocks in section.blocks %}
        <picture>
          <source media="(min-width: 901px)" data-srcset="{{ blocks.settings.pc_image | img_url: 'master' }}">
          <source media="(max-width: 900px)" data-srcset="{{ blocks.settings.mb_image | img_url: 'master' }}">
          <img
            alt="petsnowy"
            decoding="async"
            loading="lazy"
            width="50%"
            height="50%"
          >
        </picture>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "new-index-honor",
  "settings": [
    {
      "type": "image_picker",
      "id": "pc_inner",
      "label": "pc_inner"
    },
    {
      "type": "image_picker",
      "id": "mb_inner",
      "label": "mb_inner"
    },
    {
      "type": "image_picker",
      "id": "pc_content",
      "label": "pc_content"
    },
    {
      "type": "image_picker",
      "id": "mb_content",
      "label": "mb_content"
    }
  ],
  "blocks": [
    {
      "name": "img",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "pc card image"
        },
        {
          "type": "image_picker",
          "id": "mb_image",
          "label": "mb card image"
        },
        {
          "type": "text",
          "id": "link",
          "label": "link"
        }
      ],
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "new-index-honor"
    }
  ]
}
{% endschema %}
