{{ 'product-inventory.css' | asset_url | stylesheet_tag }}

<div class="product-inventory-wrapper">
  <product-inventory
    class="product-inventory"
    data-inventory-total="{{ section.settings.total_inventory }}"
    data-activity-quota="{{ section.settings.activity_quota }}"
  >
    <p class="title">{{ section.settings.title }}</p>
    <p class="text">{{ section.settings.text }}</p>

    <picture>
      <source media="(min-width: 901px)" srcset="{{ section.settings.pc_image | img_url: 'master' }}">
      <source media="(max-width: 900px)" srcset="{{ section.settings.mb_image | img_url: 'master' }}">
      <img
        src="{{ section.settings.image_picker | img_url: 'master' }}"
        alt="{{ section.settings.text }}"
        loading="lazy"
      >
    </picture>

    <span class="inventory"></span>

    {% for variant in product.variants %}
      <span class="inventory-quantity" data-quantity="{{ variant.inventory_quantity }}"></span>
    {% endfor %}
  </product-inventory>
</div>
<script>
  class ProductInventory extends HTMLElement {
    constructor() {
      super();
      this.totalInventory = parseInt(this.dataset.inventoryTotal);
      this.activityQuota = parseInt(this.dataset.activityQuota);
    }
    connectedCallback() {
      const inventory = this.querySelector('.inventory');
      const count = this.activityQuota - (this.totalInventory - this.getCurrentInventory());
      if (!count) return;
      inventory.innerText = `${count}`;
    }
    getCurrentInventory() {
      const quantityElements = Array.from(this.querySelectorAll('.inventory-quantity'));
      return (
        quantityElements &&
        quantityElements.reduce((totalQuantity, element) => totalQuantity + parseInt(element.dataset.quantity), 0)
      );
    }
  }
  customElements.define('product-inventory', ProductInventory);
</script>
{% schema %}
{
  "name": "product inventory",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "text"
    },
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "pc image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "mb image"
    },
    {
      "type": "text",
      "id": "activity_quota",
      "label": "activity quota"
    }
  ],
  "presets": [
    {
      "name": "product inventory"
    }
  ]
}
{% endschema %}
