{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="itg_product_collections half_showproduct coll_brand_divs {% if section.settings.flex_data %}flex_brand_data{% endif %}">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="product_colls__textblocks">
      {% if section.settings.heading != blank %}
        <h2 data-aos="fade-up" data-aos-duration="800">{{ section.settings.heading }}</h2>
      {% endif %}
      <div class="rich-text__text rte" data-aos="fade-up" data-aos-duration="800">
        {{ section.settings.richtext }}
      </div>
      {% if section.settings.btn_title != blank %}
        <div class="pro_col_btn">
          <a
            data-aos="fade-up"
            data-aos-duration="800"
            class="button button--primary"
            href="{{ section.settings.link }}"
          >
            {{- section.settings.btn_title -}}
          </a>
        </div>
      {% endif %}
    </div>

    {% if section.settings.img_pet != blank %}
      <hr class="grid__divider_liness">
      <div class="product_collbrand">
        <img src="{{ section.settings.img_pet | img_url: 'master' }}" alt="petsnowy" loading="lazy">
      </div>
    {% endif %}

    <div class="product_colls bottom_product_colls">
      <div class="product_colls_one gutter_div">
        <a href="{{ section.settings.url2 }}">
          {% if section.settings.image2 != blank %}
            <img src="{{ section.settings.image2 | img_url: 'master' }}" alt="petsnowy" loading="lazy">
            {% if section.settings.title2 != blank %}
              <div class="product_colls_text">
                <h2 data-aos="fade-up" data-aos-duration="800">{{ section.settings.title2 }}</h2>
                <span data-aos="fade-up" data-aos-duration="800">{{ section.settings.text2 }}</span>
              </div>
            {% endif %}
          {% endif %}
        </a>
      </div>
      <div class="product_colls_two gutter_div">
        {% if section.settings.images2 != blank %}
          <img src="{{ section.settings.images2 | img_url: 'master' }}" alt="petsnowy" loading="lazy">
          <div class="product_colls_textss">
            <h2 data-aos="fade-up" data-aos-duration="800">{{ section.settings.titles2 }}</h2>
            <div data-aos="fade-up" data-aos-duration="800">{{ section.settings.texts2 }}</div>
            <div class="product_colls_btns">
              <a href="{{ section.settings.urls2 }}" data-aos="fade-up" data-aos-duration="800">
                {{- section.settings.btns -}}
                {%- render 'arrow-right-icon' -%}
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Grid Images",
  "settings": [
    {
      "type": "checkbox",
      "id": "flex_data",
      "label": "change Layout Left To Right"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Product content"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Button Title"
    },
    {
      "type": "image_picker",
      "id": "img_pet",
      "label": "Select Brand Image"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Select Bottom Collection Image"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Bottom Collection Title"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Bottom Collection Text"
    },
    {
      "type": "url",
      "id": "url2",
      "label": "Bottom Collection Link"
    },
    {
      "type": "image_picker",
      "id": "images2",
      "label": "Select Bottom Collection Image"
    },
    {
      "type": "text",
      "id": "titles2",
      "label": "Bottom Collection Title"
    },
    {
      "type": "richtext",
      "id": "texts2",
      "label": "Bottom Collection Text"
    },
    {
      "type": "url",
      "id": "urls2",
      "label": "Bottom Collection Link"
    },
    {
      "type": "text",
      "id": "btns",
      "label": "Button Title"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Product Grid Images"
    }
  ]
}
{% endschema %}
