{{ 'product-safety.css' | asset_url | stylesheet_tag }}

<div class="product-safety-wrapper">
  <div class="product-safety page-width">
    <product-inventory y-range="-5,5" x-range="-5,5">
      <picture>
        <source media="(min-width: 901px)" srcset="{{ section.settings.image_title | img_url: 'master' }}">
        <source media="(max-width: 900px)" srcset="{{ section.settings.mb_image_title | img_url: 'master' }}">
        <img
          decoding="async"
          src="{{ section.settings.image_title | img_url: 'master' }}"
          alt="{{ section.settings.image_alt }}"
          loading="lazy"
        >
      </picture>
    </product-inventory>
  </div>
</div>
{% schema %}
{
  "name": "product-safety",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_title",
      "label": "image_title"
    },
    {
      "type": "image_picker",
      "id": "mb_image_title",
      "label": "mb_image_title"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "image_alt"
    }
  ],
  "presets": [
    {
      "name": "product-safety"
    }
  ]
}
{% endschema %}
