{{ 'product-inventory.css' | asset_url | stylesheet_tag }}

<div class="product-inventory-wrapper">
  <div class="inventory-left">
    <div class="inventory-image">
      <img
        src="{{ section.settings.pc_inventory_image | img_url: 'master' }}"
        alt="{{ section.settings.text }}"
        loading="lazy"
      >
    </div>
  </div>
  <div class="inventory-right">
    <p class="inventory-title aos-init aos-animate" data-aos-duration="800">
      {{ section.settings.title }}
    </p>
    <p class="inventory-desc aos-init aos-animate" data-aos-duration="800">
      {{ section.settings.desc }}
    </p>
    <product-inventory
      class="product-inventory"
    >
      <picture>
        <source media="(min-width: 901px)" srcset="{{ section.settings.pc_image | img_url: 'master' }}">
        <source media="(max-width: 900px)" srcset="{{ section.settings.mb_image | img_url: 'master' }}">
        <img src="{{ section.settings.pc_image | img_url: 'master' }}" alt="{{ section.settings.text }}" loading="lazy">
      </picture>
      <div class="inventory-card-right">
        <p class="title">{{ section.settings.card_title }}</p>
        <p class="text">
          {{- section.settings.card_text -}}
          <span class="inventory"></span>
        </p>
      </div>

      {% for variant in product.variants %}
        <span
          class="inventory-quantity"
          data-quantity="{{ variant.inventory_quantity }}"
          data-id="{{ variant.id }}"
        ></span>
      {% endfor %}
    </product-inventory>
    <div class="right-img">
      <img
        src="{{ section.settings.mb_inventory_image | img_url: 'master' }}"
        alt="{{ section.settings.text }}"
        loading="lazy"
      >
    </div>
  </div>
</div>
<script>
  class ProductInventory extends HTMLElement {
    constructor() {
      super();
      this.yRange = [-5, 5];
      this.xRange = [-5, 5];
      if (window.innerWidth > 901) {
        this.addEventListener('mousemove', (e) => this.onmousemove(e));
        this.addEventListener('mouseout', this.handleMouseout);
      }
    }
    connectedCallback() {
      const inventory = this.querySelector('.inventory');
      inventory.innerText = `${this.getCurrentInventory()[0].dataset.quantity}`;
    }
    getCurrentInventory() {
      const quantityElements = Array.from(this.querySelectorAll('.inventory-quantity'));
      return quantityElements && quantityElements.filter((item) => item.dataset.id === '46976335249730');
    }
    getRotate = (range, value, max) => (value / max) * (range[1] - range[0]) + range[0];

    onmousemove(e) {
      const { offsetX, offsetY } = e;
      const { offsetWidth, offsetHeight } = this;
      const ry = -this.getRotate(this.yRange, offsetX, offsetWidth);
      const rx = this.getRotate(this.xRange, offsetY, offsetHeight);
      this.style.transform = `perspective(700px) rotateX(${rx}deg) rotateY(${ry}deg)`;
      this.style.transition = 'none';
    }

    handleMouseout() {
      this.style.transition = 'transform 0.3s ease';
      this.style.transform = 'rotateX(0deg) rotateY(0deg)';
    }

    disconnectedCallback() {
      this.removeEventListener('mousemove', this.onmousemove);
      this.removeEventListener('mouseout', this.handleMouseout);
    }
  }
  customElements.define('product-inventory', ProductInventory);
</script>
{% schema %}
{
  "name": "product inventory",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "card title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "title"
    },
    {
      "type": "image_picker",
      "id": "pc_inventory_image",
      "label": "pc inventory image"
    },
    {
      "type": "image_picker",
      "id": "mb_inventory_image",
      "label": "mb inventory image"
    },
    {
      "type": "text",
      "id": "desc",
      "label": "desc"
    },
    {
      "type": "text",
      "id": "card_text",
      "label": "card text"
    },
    {
      "type": "image_picker",
      "id": "pc_image",
      "label": "pc card image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "mb card image"
    }
  ],
  "presets": [
    {
      "name": "product inventory"
    }
  ]
}
{% endschema %}
