{{ 'q-and-a.css' | asset_url | stylesheet_tag }}

<div class="faq_qa_main" id="faq_qa_main">
  <div class="m-sidebar-wrapper">
    <select></select>
  </div>
  <div class="page-width faq-page">
    <div class="faq_qa_heading">
      <div class="search">
        <input type="text" placeholder="Please enter the search">
        <button>search</button>
      </div>
      {% if section.settings.h1 != blank %}
        <h1>
          {{ section.settings.h1 }}
          <small>{{ section.settings.sub_txt }}</small>
        </h1>
      {% endif %}
    </div>
    <div class="faq-wrapper">
      <aside class="page-sidebar">
        <div class="sidebar-wrapper">
          {% for aside in section.blocks %}
            {% if aside.type == 'title' %}
              <div class="aside-item">{{ aside.settings.h2 }}</div>
            {% endif %}
          {% endfor %}
        </div>
      </aside>
      <div class="faq_qna_iner">
        {% for block in section.blocks %}
          <div class="option">
            {% if block.type == 'title' %}
              <h2 class="title">{{ block.settings.h2 }}</h2>
            {% endif %}
            {% if block.type == 'block' %}
              <div class="qn_group_main">
                <div class="ques_title">
                  {% if block.settings.h3 != blank %}
                    <h3>{{ block.settings.h3 }}</h3>
                    <span class="onc_arrow">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-up"
                      >
                        <polyline points="18 15 12 9 6 15"></polyline>
                      </svg>
                    </span>
                  {% endif %}
                </div>
                <div class="answer_txt">
                  {% if block.settings.text %}
                    {{ block.settings.text }}
                  {% endif %}
                  {% if block.settings.video %}
                    <video
                      class="desk_video custom_videoss"
                      width="100%"
                      height="100%"
                      muted
                      autoplay
                      playsinline
                    >
                      <source src="{{ block.settings.video }}" type="video/mp4">
                    </video>
                  {% endif %}
                  {% if block.settings.youtube_video %}
                    <div class="video-popup">
                      <div class="iframe">
                        <div class="close"></div>
                        <iframe
                          src="https://www.youtube.com/embed/{{ block.settings.youtube_video }}"
                          title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          allowfullscreen
                          width="1200px"
                          height="800px"
                        ></iframe>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <hr class="qna_hr">
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="search-result"></div>
  </div>
</div>
<script src="{{ 'q-and-a.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Q And A",
  "settings": [
    {
      "type": "text",
      "id": "h1",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_txt",
      "label": "Sub Heading"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "settings": [
        {
          "type": "text",
          "id": "h2",
          "label": "title"
        }
      ]
    },
    {
      "type": "block",
      "name": "Q&A",
      "settings": [
        {
          "type": "textarea",
          "id": "h3",
          "label": "Question"
        },
        {
          "type": "liquid",
          "id": "text",
          "label": "Answer"
        },
        {
          "type": "text",
          "id": "youtube_video",
          "label": "youtube video link encoding"
        },
        {
          "type": "url",
          "id": "video",
          "label": "video link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Q And A"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
