{{ 'swiper-background-img-text.css' | asset_url | stylesheet_tag }}

<div class="swiper swiper-background-img-text page-width" id="swiper{{ section.id }}">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      <div class="content-wrapper swiper-slide">
        <img src="{{ block.settings.imagerow | img_url: 'master' }}" alt="petsnowy" loading="lazy">
        <div class="content">
          <p class="sub-title">{{ block.settings.sub_title }}</p>
          <p class="title">{{ block.setting.title }}</p>
          <p class="desc">{{ block.setting.desc }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<script>
  $(function () {
    const swiperBackgroundImgText = document.querySelectorAll('.swiper-background-img-text');
    for (let i = 0; i < swiperBackgroundImgText.length; i++) {
      const swiperBackgroundImgTextEl = swiperBackgroundImgText[i].id;
      const mySwiper = new Swiper(`#${swiperBackgroundImgTextEl}`, {
        loop: true, // 循环模式选项
        slidesPerView: 'auto',
        slideToClickedSlide: true,
        speed: 800,
        clickable: true,
        allowTouchMove: false,
        // slidesPerGroup: 3,
        // slidesPerGroupAuto: true,
        spaceBetween: 10,
        slidesOffsetBefore: 50,

        // 如果需要分页器
        pagination: {
          el: '.swiper-pagination',
        },

        // autoplay: true,//等同于以下设置
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: false,
          pauseOnMouseEnter: true,
        },

        // 如果需要前进后退按钮
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    }
  });
</script>

{% schema %}
{
  "name": "swiper background img",
  "blocks": [
    {
      "type": "Img",
      "name": "Img",
      "settings": [
        {
          "type": "image_picker",
          "id": "imagerow",
          "label": "Image"
        }
      ]
    },
    {
      "type": "copywriting",
      "name": "copywriting",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "text",
          "id": "desc",
          "label": "desc"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "subTitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "swiper background img"
    }
  ]
}
{% endschema %}
