{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="doble_text_image">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="product_colls__textblocks">
      <div class="rich-text__text rte" data-aos="fade-up" data-aos-duration="800">
        {{ section.settings.richtext }}
      </div>
    </div>
      <div class="doble_textimage">
        {% if section.settings.img != blank %}
          <img src="{{ section.settings.img | img_url: 'master' }}">
          <div class="doble_textdata">
            <h2 data-aos="fade-up" data-aos-duration="800">{{ section.settings.heading }}</h2>
           <div data-aos="fade-up" data-aos-duration="800"> {{ section.settings.text }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Text Image",
  "settings": [
    {
      "type": "richtext",
      "id": "richtext",
      "label": "content"
    },
     {
        "type":"image_picker",
        "id":"img",
        "label":"Image"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type":"richtext",
        "id":"text",
        "label":"Content"
      },    
     {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
"presets": [
  {
    "name": "Text Image"
  }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
