{{ 'video-scroll.css' | asset_url | stylesheet_tag }}

<div class="video-scroll-wrapper swiper page-width">
  <div class="video-img-wrapper swiper-wrapper">
    {% for block in section.blocks %}
      <div class="video-img swiper-slide">
        <picture>
          <source media="(min-width: 901px)" srcset="{{ block.settings.image_picker | img_url: 'master' }}">
          <source media="(max-width: 900px)" srcset="{{ block.settings.mb_image_picker | img_url: 'master' }}">
          <img
            decoding="async"
            src="{{ block.settings.image_picker | img_url: 'master' }}"
            alt="{{ block.settings.text }}"
          >
        </picture>
        <div class="video-play"></div>
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button">
    <div class="swiper-button-prev">
      {% render 'icon-arrow-comment' %}
    </div>
    <div class="swiper-button-next">
      {% render 'icon-arrow-comment' %}
    </div>
  </div>
</div>

<div class="portrait-screen swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'video_url' %}
        <div class="video-url-wrapper swiper-slide">
          <video src="{{ block.settings.video_url }}"></video>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
  <div class="close"></div>
</div>

<script>
  $(function () {
    const abscissaSwiper = new Swiper('.video-scroll-wrapper', {
      spaceBetween: 20,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    const portraitSwiper = new Swiper('.portrait-screen', {
      direction: 'vertical',
      grabCursor: true,
      // spaceBetween: 20,
      mousewheel: true,
      autoHeight: true,
      pagination: {
        el: '.swiper-pagination',
      },
    });

    const videoList = Array.from(document.querySelectorAll('.video-scroll-wrapper .video-img'));
    const portraitScreen = document.querySelector('.portrait-screen');
    const close = document.querySelector('.portrait-screen .close');
    videoList.forEach((item, index) => {
      item.addEventListener('click', () => {
        portraitScreen.style.display = 'block';
        portraitSwiper.slideTo(index, 1000, false);
      });
    });
    close.addEventListener('click', () => {
      portraitScreen.style.display = 'none';
    });
  });
</script>
{% schema %}
{
  "name": "video-scroll",
  "settings": [
    {
      "type": "text",
      "id": "h1",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_txt",
      "label": "Sub Heading"
    }
  ],
  "blocks": [
    {
      "type": "video_img",
      "name": "video_img",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "video url"
        },
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "image picker"
        },
        {
          "type": "image_picker",
          "id": "mb_image_picker",
          "label": "mb image picker"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "image alt"
        }
      ]
    },
    {
      "type": "video_url",
      "name": "video_url",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "video url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "video-scroll"
    }
  ]
}
{% endschema %}
