{{ 'video-scroll.css' | asset_url | stylesheet_tag }}

<div class="video-scroll-wrapper swiper page-width">
  <div class="video-img-wrapper swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'video_img' %}
        <div class="video-img swiper-slide">
          <picture>
            <source media="(min-width: 901px)" srcset="{{ block.settings.image_picker | img_url: 'master' }}">
            <source media="(max-width: 900px)" srcset="{{ block.settings.mb_image_picker | img_url: 'master' }}">
            <img src="{{ block.settings.image_picker | img_url: 'master' }}" alt="{{ block.settings.text }}">
          </picture>
          <div class="video-play"></div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="swiper-button">
    <div class="swiper-button-prev">
      {% render 'icon-arrow-comment' %}
    </div>
    <div class="swiper-button-next">
      {% render 'icon-arrow-comment' %}
    </div>
  </div>
</div>
<div class="video-scroll">
  <div>
    {% for block in section.blocks %}
      {% if block.type == 'video_url' %}
        <div class="video-url-wrapper">
          <video src="{{ block.settings.video_url }}"></video>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<script>
  $(function () {
    const mySwiper = new Swiper('.video-scroll-wrapper', {
      slidesPerView,
      spaceBetween: 20,
      speed: 600,
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>
{% schema %}
{
  "name": "video-scroll",
  "settings": [
    {
      "type": "text",
      "id": "h1",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_txt",
      "label": "Sub Heading"
    }
  ],
  "blocks": [
    {
      "type": "video_img",
      "name": "video_img",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "video url"
        },
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "image picker"
        },
        {
          "type": "image_picker",
          "id": "mb_image_picker",
          "label": "mb image picker"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "image alt"
        }
      ]
    },
    {
      "type": "video_url",
      "name": "video_url",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "video url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "video-scroll"
    }
  ]
}
{% endschema %}
