{{ 'video-scroll.css' | asset_url | stylesheet_tag }}

<div class="video-scroll-wrapper page-width">
  <div class="video-scroll-content">
    {% for block in section.blocks %}
      {% if block.type == 'content' %}
        <picture>
          <source media="(min-width: 901px)" srcset="{{ block.settings.image_picker | img_url: 'master' }}">
          <source media="(max-width: 900px)" srcset="{{ block.settings.mb_image_picker | img_url: 'master' }}">
          <img
            decoding="async"
            loading="lazy"
            src="{{ block.settings.image_picker | img_url: 'master' }}"
            alt="{{ block.settings.alt }}"
          >
        </picture>
      {% endif %}
    {% endfor %}
  </div>
  <div class="img-wrapper swiper">
    <div class="video-img-wrapper swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'block' %}
          <div class="video-img swiper-slide">
            <picture>
              <source media="(min-width: 901px)" srcset="{{ block.settings.image_picker | img_url: 'master' }}">
              <source media="(max-width: 900px)" srcset="{{ block.settings.mb_image_picker | img_url: 'master' }}">
              <img
                decoding="async"
                loading="lazy"
                src="{{ block.settings.image_picker | img_url: 'master' }}"
                alt="{{ block.settings.image_alt }}"
              >
            </picture>
            <div class="video-play"></div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="portrait-screen swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'block' %}
        <div class="video-url-wrapper swiper-slide">
          <video src="{{ block.settings.video_url }}"></video>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="swiper-pagination"></div>
  <div class="close"></div>
</div>

<script>
  $(function () {
    const abscissaSwiper = new Swiper('.img-wrapper', {
      spaceBetween: 20,
      slidesPerView: 'auto',
    });

    const portraitSwiper = new Swiper('.portrait-screen', {
      direction: 'vertical',
      grabCursor: true,
      // spaceBetween: 20,
      mousewheel: true,
      autoHeight: true,
      pagination: {
        el: '.swiper-pagination',
      },
    });

    const videoList = Array.from(document.querySelectorAll('.video-scroll-wrapper .video-img'));
    const portraitScreen = document.querySelector('.portrait-screen');
    const close = document.querySelector('.portrait-screen .close');
    videoList.forEach((item, index) => {
      item.addEventListener('click', () => {
        portraitScreen.style.display = 'block';
        portraitSwiper.slideTo(index, 1000, false);
      });
    });
    close.addEventListener('click', () => {
      portraitScreen.style.display = 'none';
    });
  });
</script>
{% schema %}
{
  "name": "video-scroll",
  "blocks": [
    {
      "type": "content",
      "name": "content",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "image picker"
        },
        {
          "type": "image_picker",
          "id": "mb_image_picker",
          "label": "mb image picker"
        },
        {
          "type": "text",
          "id": "alt",
          "label": "alt"
        }
      ],
      "limit": 1
    },
    {
      "type": "block",
      "name": "video",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "video url"
        },
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "image picker"
        },
        {
          "type": "image_picker",
          "id": "mb_image_picker",
          "label": "mb image picker"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "image alt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "video-scroll"
    }
  ]
}
{% endschema %}
